<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/lightning-electric-energy.png" type="image/x-icon">
    <link rel="icon" href="/images/lightning-electric-energy.png" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/nav.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <div class="home"><button><a href="/">Home</a></button></div>
      </div>
      <div class="createUser">
        <div class="createTitle">
          <h1>Create Account</h1>
        </div>
          <form class="createInput" action="/create" method="post">
            <input class="createEntry" type="text" name="username" placeholder="username"><br>
            <input class="createEntry" type="password" name="password" placeholder="password"><br>
            <input class="createEntry" type="password" name="confirm" placeholder="confirm password"><br>
            <input class="createEntry" type="email" name="email" placeholder="email"><br>
            <input class="createEntry" type="submit" name="submit" value="create account">
          </form>
      </div>
    </div>
  </body>
</html>
