@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container, html {
  width: 100%;
  background-color: #F9F9F9;

}

.nav {
  height: 7vh;
  background-color: #CEE3F8;
}

.home {
  padding-left: 2%;
  padding-top: 2vh;
  font-size: 1.25em;
  display: inline-block;
}

.indPost {
  border: 1px solid black;
  height: 15vh;
  padding-left: 5%;
  padding-top: 5vh;
  background-color: white;
}

.indPostAuth {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: black;
}

.title {
  padding-top: 2vh;
  padding-left: 2%;
  font-size: 1.25em;
  display: inline-block;
}

.myProfile, .createPost, .logoutForm, .createAccount, .delete, .login {
  float: right;
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2vh;
}

.newPost {
  text-align: center;
  padding-top: 5vh;
  background-color: #CEE3F8;
  width: 70%;
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid black;
  margin-bottom: 5vh;
}

.content {
  width: 60%;
  padding-top: 5vh;
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.text1{
  border: 1px solid black;
  width: 95%;
  background-color: white;
}

.newTitle, .submitNew {
  border: 1px solid black;
  width: 60%;
  margin-bottom: 1vh;
  background-color: white;
}

.postIndPost {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-top: 5vh;
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  margin-top: 2vh;
}

.postIndPostTitle {
  text-align: center;
  margin-top: 10vh;
  font-size: 2em;
}

.postComments {
  background-color: white;
  border: 1px solid black;
  width: 60%;
  height: 30vh;
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
    overflow-y: scroll;
}

.writeComment {
  background-color: #CEE3F8;
  border: 1px solid black;
  width: 60%;
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.write {
  height: 10vh;
  width: 70%;
  border: 1px solid black;
  margin: 10px;
  margin-top: 3vh;
  margin-left: 15%;
  background-color: white;
}

.commsend {
  background-color: white;
  border: 1px solid black;
  margin-bottom:10px;
  padding: 10px;
  margin-left: 15%;
}

.comment-content {
  padding-top: 1vh;
  border-bottom: 1px dashed black;
  padding-left: 2%;
  height: 4.5vh;

}


.comment-title {
  padding-left: 1%;
  background-color: white;
  border: 1px solid black;
  border-bottom: none;
  width: 60%;
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 2vh;
}

.submitNew {
  width: 25%;
  margin-bottom: 2vh;
}

.profTitle {
  margin-top: 10vh;
  text-align: center;
  font-size: 1.5em;
}

.profPostTitle {
  padding-left: 1%;
  background-color: #CEE3F8;
  border: 1px solid black;
  border-bottom: none;

  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 2vh;
}

.myPosts {
  width: 60%;
  padding-top: 5vh;
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loginTitle, .createTitle {
  border: 1px solid black;
  background-color: #CEE3F8;
  height: 7vh;
  font-size: 1.75em;
  padding-left: 2%;
  padding-top: 2vh;
}

.loginUser {
  border: 1px solid black;
  width: 30%;
  height: 30vh;
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10vh;
}

.createUser {
  border: 1px solid black;
  width: 30%;
  height: 45vh;
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10vh;
}


.loginUsername, .loginPassword, .loginLogin, .createEntry {
  position: relative;
  height: 4vh;
  width: 80%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin:10px;
  margin-top: 2vh;
  border: 1px solid black;
}

.loginInput, .createInput {
    text-align: center;
}
